<div class="mx-auto row">
    <div class="col container">
        <h3>Alimentos</h3>
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
          <div class="column">
              <div>Hola</div>
              <div class="ingredientes">Mundop</div>
          </div>

      </th>
      <td>34.23</td>
      <td>0</td>
      <td>Agregar Quitar</td>
    </tr>
  </tbody>
</table>


    </div>
    
    <div class="col container">
        <h3>Bebidas</h3>
    </div>
</div>