<div class="mx-auto">
   

   </button>
   
        <h3>Pedido</h3>
        <div class="row">
            <div class="col container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">$</th>
                  </tr>
                </thead>
                <tbody>
                {{#each pedido}}
                <tr>
                  <th scope="row">{{minombre}}</th>
                  <td>{{micantidad}}</td>
                  <td>{{miprice}}</td>
                </tr>
                {{else}}
                <tr>
                  <th scope="row">-</th>
                  <td>-</td>
                  <td>-</td>
                </tr>

                {{/each}}
                  
                </tbody>
              </table>
            </div>
            <div class="col container col-md-4">
                  <a href="/pedidos/add/alimentos" class="btn btn-primary btn-block btn-sm">Alimentos &nbsp;&nbsp;&nbsp;<i class="fas fa-hamburger"></i></a>
                  <a href="/pedidos/add/bebidas" class="btn btn-primary btn-block btn-sm">Bebidas &nbsp;&nbsp;&nbsp;<i class="fas fa-beer"></i></a>
                  <a href="/pedidos/add/enviar" class="btn btn-success btn-block btn-sm">Enviar pedido &nbsp;&nbsp;&nbsp;<i class="fas fa-arrow-circle-right"></i></a>
                  <a href="/pedidos/" class="btn btn-danger btn-block btn-sm">Cancelar &nbsp;&nbsp;&nbsp;<i class="fas fa-ban"></i></a>      
            </div>
        </div>      
    </div>
</div>