<div class="mx-auto row">
    <div class="container col-sm-8">
              <h2>Pedidos</h2>              
    </div>    
    <div class="col container col-sm-4">               
        <a href="/pedidos/add/" class="btn btn-success btn-block btn-sm">Agregar pedido &nbsp;&nbsp;&nbsp;<i class="fas fa-utensils"></i></a>      
    </div>
</div>