 <div class="container">
    <h1 class="my-4">About</h1>
  </div>

<div class="row" hei>
    <div class="card m-4" style="width: 19rem; ">
  <img src="https://scontent.fcyw4-1.fna.fbcdn.net/v/t1.0-9/13879395_1082402055187292_3384768874023599094_n.jpg?_nc_cat=109&_nc_ohc=w1IWVKYgpGcAQlUKc4UCEdj4LpEtQ1wj8QIhE6USeK15cONnDEe5VP9GA&_nc_ht=scontent.fcyw4-1.fna&oh=57028bc1365eefa5aea53a99883084d3&oe=5E79C696" class="card-img-top miimg" alt="...">
  <div class="card-body">
    <h5 class="card-title">Martin Garcia Hurtado</h5>
    <p class="card-text">Estudiante de Ingenieria en Sistemas y Desarrollador WEB.</p>
    <a href="https://es-la.facebook.com/martin.garciahurtado1" class="btn btn-primary">More information</a>
  </div>
</div>
<div class="card m-4" style="width: 19rem;">
  <img src="https://scontent.fcyw4-1.fna.fbcdn.net/v/t1.0-9/p960x960/75392756_2803733492999804_5175117476337287168_o.jpg?_nc_cat=105&_nc_ohc=wwB4E4gyeVAAQlZowbcdOxt-otS5TGtTrt6wLqbJaUangX6Qktpgf6rxg&_nc_ht=scontent.fcyw4-1.fna&oh=2f896f59df767025f4f80c7cf6e3e6e2&oe=5E8B970D" class="card-img-top miimg"  alt="...">
  <div class="card-body">
    <h5 class="card-title">Bernardo Quintino Guzman</h5>
    <p class="card-text">Estudiante de Ingenieria en Sistemas y Desarrollador WEB.</p>
    <a href="https://www.facebook.com/beonardo.quinguz" class="btn btn-primary">More information</a>
  </div>
</div>

</div>