<div class="mx-auto row">
    <div class="container col-sm-8">
              <h2>Bebidas</h2>              
    </div>    
    <div class="col container col-sm-4">               
        <a href="/Bebidas/add/" class="btn btn-success btn-block btn-sm">Agregar bebida nueva &nbsp;&nbsp;&nbsp;<i class="fas fa-plus-square"></i></a>      
    </div>
</div>
<table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Acción</th>
    {{#each bebida}}
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{ name }}</td>
            <td>{{ price }}</td>
            <td class="row">                
                <form action="/Bebidas/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">
                    <i class="fas fa-trash-alt"></i>
                    </button>
                 </form>
                 &nbsp;&nbsp;&nbsp;
                 <a class="btn btn-primary" href="/Bebidas/edit/{{_id}}"><i class="fas fa-edit"></i></a>
            </td>
          
            </tr>
        </tbody>
   
    {{/each}}
</table>